.env
backend/.env
frontend/.env
.env*
backend/__pycache__/

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore service account key
genaihackathon-*.json 

*.pdf
*.pptx

backend/classification-model/model1l/
backend/model1l/